
.all{
     background-size: cover;
     background-image: url('https://i.pinimg.com/originals/4a/ae/bf/4aaebf41f6b1f0a10991689cf0e90a19.gif');
     font-family: "Helvetica", sans-serif;
     height: 100vh;
     width: 100vw;
     padding: 0% 8%;
}


.all img{
  width: 35px;
  height: 35px;
}


nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navButtons{
    padding: 28px 0px;
}


.navButtons li{
    display: inline-block;
    margin: 0px 15px;
}



h1{
    color:rgb(255, 255, 255);
    font-size:50px; 
    text-align:center;
    margin: 25px;
    margin-top: 20px;
}


p{
    color:rgba(255, 255, 255, 0.8);
    font-size:30px; 
    text-align:center;
    margin:90px;
}


hr{
    width:auto;
    height:5px;
    border-width:0;
    background-color:white;
    margin:40px;
}


*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}


.copyright{ 
    position: fixed;
    text-align: Left;
    bottom: 10px;
    color:rgba(255, 255, 255, 0.33)
}  


a::after{
    text-align: right;
    font-size: 19px;
    content: '';
    background: rgba(255, 255, 255, 0.85);
    width: 0; 
    height: 2px;
    position: absolute; 
    bottom: 0;
    left: 0;
    transition: 0.5s;
} 


a{
    text-decoration: none;
    padding:5px 0;
    color: white;
    position: relative;
}


a:hover::after{
    width:100%;
}


.main{
    background: rgba(204, 200, 200, 0.4); 
    margin: 0 10px; 
    font-size:25px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    height: 70vh;
    color:rgb(255, 255, 255);
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
}


.main img{
     margin-top: 30px;
}


.mainMedia img{
     height:300px;
     width:500px;
     border-radius:5%;
     border: 3px solid rgb(255, 255, 255); 
}


.mainMedia{
    padding: 0 100px 0 100px;
    margin-top:45px;
    display: flex;
    align-items: center;
    justify-content: space-between
}


.media{
     margin-top:29px;
     height:300px;
     width:500px;
     border-radius:5%;
     border: 3px solid rgb(255, 255, 255);
}

.float-left{
    padding-right: 10px;
}
